.project-details{
    background:#050816;
    min-height:100vh;
    padding:70px;
}

.project-container{
    max-width:1100px;
    margin:auto;
}

.back-btn{
    display:inline-block;
    margin-bottom:40px;
    color:#8b5cf6;
    text-decoration:none;
    font-weight:600;
}

.project-banner{
    width:100%;
    border-radius:18px;
    margin-bottom:35px;
}

.project-details h1{
    color:white;
    font-size:42px;
    margin-bottom:20px;
}

.overview{
    color:#cbd5e1;
    font-size:18px;
    line-height:1.8;
    margin-bottom:50px;
}

.project-section{
    margin-bottom:45px;
}

.project-section h2{
    color:#8b5cf6;
    margin-bottom:18px;
}

.project-section p,
.project-section li{
    color:#cbd5e1;
    line-height:1.9;
}

.project-section ul{
    padding-left:20px;
}

.tech-list{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}

.tech-list span{
    background:#1e293b;
    color:white;
    padding:10px 18px;
    border-radius:30px;
}